@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes upDown {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-in-out;
}

.animate-upDown {
  animation: upDown 2.8s ease-in-out infinite;
}



body{
    font-family: 'Inter', 'sans-serif'
}